{% extends 'base.html' %}
{% load static %}


{% block page_title %}
{{post.title}}
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" />
{% endblock css_files %}



{% block content %}

<section id="summary">
<h2>{{post.Title}}</h2>
<div>
{% for tag in tags %}
<span class="tag">{{tag}}</span>
{% endfor %}

</div>
<article>
    <img src="{{ post.image.url }}" alt="Post TITLE">
    <address>By <a href="mailto:{{post.author.Email}}">{{post.author}}</a></address>
    <div>
       Last updated on <time>{{post.Date|date:"d M Y"}}</time>    
    </div>
</article>
</section>

<main>
    {{post.Content|linebreaks}}


    <div>
        <div class="card-body">
          <!-- comments -->
          <h2>{{ comments.count }} comments</h2>
  
          {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class=" text-muted font-weight-normal">
                {{ comment.created_on }}
              </span>
            </p>
            {{ comment.body | linebreaks }}
          </div>
          {% endfor %}
        </div>
      </div>
      
      <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body">
          {% if new_comment %}
          <div class="alert alert-success" role="alert">
            Your comment is awaiting moderation
          </div>
          {% else %}
          <h3>Leave a comment</h3>
          <form method="post" style="margin-top: 1.3em;">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
 </main>
    
{% endblock content%}