{% extends 'base.html' %}
{% load static %}


{% block page_title %}
{{post.title}}
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" />
{% endblock css_files %}



{% block content %}

<section id="summary">
<h2>{{post.Title}}</h2>
<div>
{% for tag in tags %}
<span class="tag">{{tag}}</span>
{% endfor %}

</div>
<article>
    <img src="{% static 'blog/images/'|add:post.Image_name %}" alt="Post TITLE">
    <address>By <a href="mailto:{{post.author.Email}}">{{post.author}}</a></address>
    <div>
       Last updated on <time>{{post.Date|date:"d M Y"}}</time>    
    </div>
</article>
</section>

<main>
    {{post.Content|linebreaks}}
    <form action="" method="post">
        {% csrf_token %} 
        
        {{form}}
    
        <button type="submit">Submit</button>
      </form>
    </main>
    
{% endblock content%}